html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper {
    flex: 1; /* Растягивает содержимое на доступную высоту */
    display: flex;
    flex-direction: column;
  }

main {
    flex-grow: 1; /* Основное содержимое занимает оставшееся место */
    padding: 2rem;
  }
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222;
  }
  
  header {
    padding: 1rem;
    background-image: url('header.png'); /* Путь к картинке */
    background-size: cover; /* Чтобы картинка заполнила весь */
  }
  
  .navbar {
    display: flex;
    gap: 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    text-align: right;
    padding: 0.3rem 1rem;
    background-image: url('footer.png'); /* Путь к картинке */
    background-size: cover; /* Чтобы картинка заполнила весь футер */
  }

/* === Стили для блока с баннером === */

  .banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }

/* === Стили для блоков способностей (гайдов) === */

.ability-content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;
    flex-wrap: wrap; /* для адаптивности */
  }
  
  .ability-text {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .ability-image {
    max-width: 300px;
    flex-shrink: 0;
  }
  
  .ability-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }
  

/* === Стили для кнопки "назад" на странице с гайдом === */
.back-button {
    margin-top: 2rem;
  }
  
  .back-button a {
    display: inline-block;
    background-color: #cbdae9;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: bold;
  }
  
  .back-button a:hover {
    background-color: #00a4aa;
  }

/* === страница OFFENSE CONTROLS - Управление в атаке блок с видео с ютубаd=== */

.control-guide {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.control-left {
  flex: 1;
  min-width: 250px;
}

.control-left img {
  max-width: 100%;
  border-radius: 6px;
}

.control-left p {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.control-right {
  flex: 1;
  min-width: 300px;
}

.youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Соотношение 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
